html {
  font-family: 'PT Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: #06D6A0;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  justify-content:flex-end;
}
ul > li {
  padding: 0.5em;
}
nav {
  display: flex;
  align-items: center;
}
