html {
  font-family: 'PT Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  background-color: #06D6A0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
main {
  width:  60%;
  margin: auto;
}
h1 {
  color: white;
  font-size: 0.95em;
}
h2 {
  color: white;
}
h3 {
  margin: 1em 0;
}
h4 {
  color: white;
}
ul {
  list-style: none;
  display: flex;
  justify-content:flex-end;
}
ul > li {
  padding: 0.5em;
}
nav {
  display: flex;
  align-items: center;
}
img {
  width: 100%;
}
section.mainbanner {
  background-color: #26547C;
  display: flex;
  justify-content: space-between;
}
section.mainbanner div {
  display: inline-block;
}
.mainbannerleft {
  width: 60%;
}
.mainbannerright {
  width: 40%;
}
div.mainbannerright > span {
  display: block;
}
section.cats {
  background-color: gold;
  padding: 2em 1em;
}
section.products {
  padding: 2em 1em;
}
.catcontainer {
  /* flex not needed
  #EF476F
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;*/
}
.catimage {
  width: 32%;
  height: 32%;
  border: 0.2em solid black;
  margin: 0.2em;
}
section.last {
  background-color: #26547C;
}
div.headercontainer {
  display: flex;
  justify-content: space-between;
}
